# LicenseFlow Frontend Environment Configuration

# API URL - Change this based on your environment
# For local development: http://localhost/licenseflow
# For other devices on network: http://192.168.X.X/licenseflow (replace with your server IP)
# For production: https://yourdomain.com/licenseflow
PUBLIC_API_URL=http://license-backend-ep7lvu-090bb2-187-77-242-74.sslip.io/
